.table {
    margin: auto;
    width: 900px;
    border: 1px solid rgba(0,0,0,0.1);
    min-height: 100vh;
    padding: 30px;
}

.table__footer {
    display: flex;
    flex-direction: column;
}

.table__content {
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: 20px;
}

.table__title {
    margin-top: 12px;
    margin-bottom: 4px;
}

.table__row {
    display: flex;
}

.table__row-item {
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    padding: 8px 16px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}